ul{
    list-style: none;
    padding: 0 !important;
    margin-bottom: 0 !important;
}
li{
    margin: 0;
    padding: 0;
}
a,Link{
    text-decoration: none !important;
    color: #000 !important;
}
:root{
    --primary-color: #AD0000;
    --secondary-color: #fcf5f5;
}
/* -- backgrund style for blog page ---*/
.BlogPage,.contatPage,.blogDetails-container,.wishlist,.Cart{
    background: #f5f6f6;
}