.showpost .title{
    margin-bottom: 20px;
    font-size: 25px;
}
.search{
    position: relative;
    width: 100%;
}
.showpost .search input{
  width: 35%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 15px;
  resize: vertical;
  outline: none;
  font-size: 16px;
  color: var(--bg-color);
}
.showpost .searchIcon{
    position: absolute;
    font-size: 25px;
    left: 33%;
    top: 14px;
    color: var(--bg-color);
}
.showpost .post-title{
   margin-bottom: 10px;
   font-weight: 400;
   color: var(--bg-color);
}
.showpost .discription{
    font-size: 16px;
    line-height: 1.5;
}