.category-single{
    padding: 1rem 0rem;
    position: relative;
    overflow: hidden;
}
.category-single h5{
    position: absolute;
    color: #fff;
    font-weight: 700;
    padding: 13px 30px;
    border-radius: 2px;
    font-size: 20px;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: capitalize;
    transition: all .5s ease-in-out;
    background: var(--primary-color);
}
.category-single img{
    width: 100%;
    height: 100%;
    transition: all .4s ease-in;
}
.category-single .imgBox{
    overflow: hidden;
    height: 325px;
    background: var(--secondary-color);
    padding: 25px;
}
.category-single:hover img{
  transform: scale(1.2);
}
.category-single:hover h5{
    top: 50%;
}
